
Arkanoid/obj/Debug/Arkanoid.pdb
Arkanoid/obj/Debug/Arkanoid.exe
Arkanoid/obj/Debug/Arkanoid.csprojAssemblyReference.cache
Arkanoid/obj/Debug/Arkanoid.csproj.GenerateResource.cache
Arkanoid/obj/Debug/Arkanoid.csproj.FileListAbsolute.txt
Arkanoid/obj/Debug/Arkanoid.csproj.CoreCompileInputs.cache
Arkanoid/obj/Debug/Arcanoid.pdb
Arkanoid/obj/Debug/Arcanoid.GameModel.resources
Arkanoid/obj/Debug/Arcanoid.exe
Arkanoid/obj/Debug/Arcanoid.csprojAssemblyReference.cache
Arkanoid/obj/Debug/Arcanoid.csproj.FileListAbsolute.txt
Arkanoid/obj/Debug/Arcanoid.csproj.CoreCompileInputs.cache
Arkanoid/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Arkanoid/bin/Debug/Arkanoid.pdb
Arkanoid/bin/Debug/Arkanoid.exe
Arcanoid/obj/Debug/Arcanoid.csproj.FileListAbsolute.txt
.idea/.idea.Arkanoid/riderModule.iml
.idea/.idea.Arkanoid/.idea/vcs.xml
.idea/.idea.Arkanoid/.idea/projectSettingsUpdater.xml
.idea/.idea.Arkanoid/.idea/modules.xml
.idea/.idea.Arkanoid/.idea/indexLayout.xml
.idea/.idea.Arkanoid/.idea/encodings.xml
.idea/.idea.Arkanoid/.idea/contentModel.xml
.idea/.idea.Arcanoid/riderModule.iml
.idea/.idea.Arcanoid/.idea/projectSettingsUpdater.xml
.idea/.idea.Arcanoid/.idea/modules.xml
.idea/.idea.Arcanoid/.idea/indexLayout.xml
.idea/.idea.Arcanoid/.idea/contentModel.xml
.idea/.idea.Arcanoid/.idea/.name
.idea/.idea.Arcanoid/.idea/vcs.xml
Arkanoid/obj/Debug/rndomNamespace.Form2.resources
Arkanoid/obj/Debug/rndomNamespace.GameModel.resources
Arkanoid/obj/Debug/Arcanoid.Properties.Resources.resources
Arkanoid.sln.DotSettings.user
